    </div>
    <script type="text/javascript">$('input[type="range"]').rangeslider({ 
      polyfill: false,
      rangeClass: 'quote-rangeslider',
      fillClass: 'quote-rangeslider__fill',
      handleClass: 'quote-rangeslider__handle',
    });</script>
  </body>
</html>