<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- fancy slider -->
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/rangeslider.js/dist/rangeslider.css">
    <script type="text/javascript" src="/bower_components/rangeslider.js/dist/rangeslider.min.js"></script>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/javascripts/angular/app.js"></script>

    <script src="/javascripts/angular/factories/loan_factory.js"></script>
    <script src="/javascripts/angular/services/loan_service.js"></script>
    <script src="/javascripts/angular/controllers/homepage_controller.js"></script>
    <script src="/javascripts/angular/controllers/loan_controller.js"></script>

  </head>
  <body ng-app="MyLoans">